* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  height: 100%;
  background: rgb(54, 0, 141);
  background: linear-gradient(312deg, rgba(54, 0, 141, 1) 0%, rgba(112, 40, 228, 1) 28%, rgba(229, 178, 202, 1) 89%);
}

body {
  overflow: hidden;
  font-family: 'Poppins';
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hero {
  width: 100%;
  height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  padding-top: 20px;
  padding-right: 70px;
  padding-left: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  z-index: 999;
}

.logo img {
  width: 80px;
  height: 80px;
}

.navbar a {
  color: #f5f0f0;
  font-weight: 600;
}

.navbar .nav-links ul {
  display: flex;

}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li {
  margin: 0 25px;
  font-size: 1.4rem;
}

.navbar .nav-links ul li a.active,
.navbar .nav-links ul li:hover a {
  color: #252727;
}

.navbar .menu-burger {
  display: none;
  position: absolute;
  top: 33px;
  right: 30px;
  width: 35px;
}

.content {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 150px;
  background: rgba(255, 255, 255, 0.135);
  box-shadow: 0 8px 32px rgba(24, 25, 37, 0.37);
  backdrop-filter: blur(6.5px);
  border-radius: 30px;
  overflow: hidden;
  padding-left: 70px;
}

.footer {
  background-color: #272929;
  color: #f5f0f0;
  text-align: center;
  font-size: 14px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.content .right img {
  width: 550px;
  position: relative;
  bottom: 0px;
  margin-left: 70px;
  filter: drop-shadow(8px 8px 8px #3333338d);
}

.content .left h3 {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.content .left h1 {
  font-size: 80px;
  margin-bottom: 10px;
  color: #532c66;
  border-right: 5px solid;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  animation:
    typing 2s steps(14),
    cursor .4s step-end infinite alternate;
}

.content .left button {
  width: 200px;
  background: #5d29ac;
  color: #f3e9ff;
  font: 600;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
  margin-bottom: 30px;
  transition: all 1000ms ease-in-out;
}

.content .left button:hover {
  transform: translateY(15px);
}

.place-order {
  width: 160px;
  height: 60px;
  border-radius: 10px;
  background-color: #2b59b5;
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
}

.place-order .text {
  width: 100%;
  height: 100%;
  line-height: 60px;
  opacity: 0;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  position: absolute;
  top: 0;
  transition: all 0.2s;
  transform: translateY(20px);
}

.place-order:focus {
  outline: none;
}

.place-order .forklift {
  display: none;
  transform: scale(0.4);
  position: absolute;
  top: -2px;
  left: -65px;
  animation: 4s lift-moving infinite;
}

.place-order .forklift .upper {
  width: 34px;
  height: 20px;
  margin-bottom: 2px;
  border: 5px solid #ff7745;
  position: relative;
  border-radius: 10px 50px 10px 5px;
}

.place-order .forklift .upper:after {
  content: '';
  width: 30px;
  height: 50px;
  position: absolute;
  left: 170%;
  top: 12px;
  box-sizing: border-box;
  border-left: 5px solid #000;
  border-bottom: 6px solid #000;
  border-radius: 0 0 0 5px;
  transform-origin: center;
}

.place-order .forklift .lower {
  width: 60px;
  height: 30px;
  position: relative;
  background-color: #FF4500;
  border-radius: 5px 15px 10px 10px;
}

.place-order .forklift .lower:before,
.place-order .forklift .lower:after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  bottom: -10px;
  border: 3px solid #2b59b5;
  border-radius: 50%;
  background-color: #000;
}

.place-order .forklift .lower:after {
  left: 36px;
}

.place-order .box {
  display: none;
  width: 50px;
  height: 50px;
  background-color: #ad8762;
  border-radius: 5px;
  position: absolute;
  top: 56px;
  left: 50px;
  transform: scale(0.4);
  animation: 4s box infinite;
}

.place-order .box:before,
.place-order .box:after {
  content: '';
  width: 4px;
  height: 12px;
  left: 21px;
  background-color: #ffbf59;
  position: absolute;
}

.place-order .box:after {
  height: 10px;
  left: 25px;
}

.place-order--default .default {
  opacity: 1;
  transform: translateY(0);
}

.place-order--default .done {
  transform: translateY(20px);
}

.place-order--placing .forklift {
  display: block;
}

.place-order--placing .box {
  display: block;
}

.place-order--placing .default {
  transform: translateY(-20px);
}

.place-order--done .done {
  opacity: 1;
  transform: translateY(0);
}

.place-order--done .default {
  transform: translateY(-20px);
}

@keyframes lift-moving {
  0% {
    left: -65px;
  }

  50% {
    left: 20px;
  }

  60% {
    left: 15px;
  }

  100% {
    left: 200px;
  }
}

@keyframes box {
  0% {
    top: 56px;
  }

  20% {
    top: 6px;
    left: 50px;
  }

  50% {
    top: 6px;
    left: 50px;
  }

  60% {
    top: 6px;
    left: 45px;
  }

  100% {
    top: 6px;
    left: 230px;
  }
}

@keyframes cursor {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: #532c66;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@media screen and (max-width: 1050px) { 
  body {
    overflow: scroll;
  }
  .navbar {
    padding: 0;
  }

  .navbar .logo {
    position: absolute;
    top: 25px;
    left: 30px;
  }

  .navbar .logo img {
    width: 50px;
    height: 50px;
  }

  .navbar a {
    color: #f5f0f0;
    font-weight: 600;
  }

  .navbar .menu-burger {
    display: block;
  }

  .nav-links {
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
  }

  .nav-links.mobile-menu {
    margin-left: 0;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-links ul li {
    margin: 25px 0;
    font-size: 1.2rem;
  }

  .content {
    width: 70%;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .left {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 4.5em;
  }

  .content {
    padding-top: 90px;
    height: 50%;
    margin-bottom: 70px;
  }

  .content h3,
  .content button {
    font-size: 3px;
  }

  .content .left h1 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 40px;
  }

  .content .left h3 {
    font-size: 20px;
  }

  .content p {
    font-size: 14px;
  }

  .right {
    display: none;
  }
}

.footer {
  background-color: #272929;
  color: #f5f0f0;
  padding-bottom: 200px;
  padding-top: 40px;
  text-align: center;
  font-size: 14px;
  margin-top: 5%;
}

.footer p {
  margin-bottom: 5px;
}

.footer .social-icons {
  margin-top: 10px;
}

.footer .social-icons a {
  color: #f5f0f0;
  margin: 0 5px;
  font-size: 18px;
}

.footer .social-icons a:hover {
  color: #8b7afe;
}